#root {
  max-width: 1880px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.golden-text {
  background: linear-gradient(45deg, #ffd700, #ffa500, #ffec8b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  /* 3D effect with shadows */
  text-shadow: 2px 2px 2px #9b4c07,
    /* dark gold edge */ 4px 4px 6px rgba(0, 0, 0, 0.5),
    /* depth */ 0 0 100px rgba(255, 215, 0, 0.8); /* glowing gold */
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
